@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:400,400i,700,700i');

/* body */

body {
	background-color: #eeeeee;
	color: #303841;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	width: 600px;
}

body a {
	color: #303841;
}

body a:hover {
	color: #ff5722;
}

/* header & footer */

header {
	font-family: 'Roboto Slab', serif;
	font-size: 2.5em;
	margin: 50px 0 25px;
}

footer {
	font-size: .8em;
	margin: 25px 0;
}

header, footer {
	text-align: center;
}

header a, footer a {
	text-decoration: none;
}

/* section */

section {
	border-bottom: 1px solid #ff5722;
	border-top: 1px solid #ff5722;
}

section p.infos {
	font-size: .8em;
}

section p.title {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
}

section p.back a {
	text-decoration: none;
}

code {
	font-family: 'Roboto Mono', monospace;
}

/* blog entries */

.blog-entries {
	line-height: 1.5em;
	list-style: none;
	margin: 50px 0;
	padding: 0;
	text-align: center;
}

.blog-entries a {
	text-decoration: none;
}
