@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&display=swap');

$font: 'Noto Serif', serif;

$black: #111;
$blue: #00adb5;
$gray: #555;

/* body */

body {
  color: $black;
  font-family: $font;
  margin: 0 auto;
  max-width: 460px;
  padding: 0 20px;

  a {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $blue;
    }
  }
}

/* header & footer */

header,
footer {
  text-align: center;
}

header {
  margin: 50px 0 25px;

  h1 {
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}

footer {
  border-top: 1px solid $gray;
  color: $gray;
  font-size: .8em;
  margin: 25px 0;
  padding-top: 25px;

  a {
    color: $gray;
  }
}

/* section */

section {
  line-height: 1.8em;

  a {
    text-decoration: underline;
  }
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

/* article */

.infos,
.back {
  font-size: .8em;
}

.infos {
  color: $gray;
}

.back {
  margin-top: 25px;
}

/* blog entries */

.blog-entries {
  margin: 50px 0;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    text-decoration: none;

    .date {
      font-size: .8em;
      margin-right: 10px;
    }

    &:hover .date {
      color: $black;
    }
  }
}
