@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&display=swap');

/* body */

body {
  color: #555;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  max-width: 460px;
  padding: 0 20px;
}

body a {
  color: #555;
}

body a:hover {
  color: #00adb5;
}

/* header & footer */

header {
  font-size: 2.5em;
  letter-spacing: 5px;
  margin: 50px 0 25px;
  text-transform: uppercase;
}

footer {
  border-top: 1px solid #888;
  color: #888;
  font-size: .8em;
  margin: 25px 0;
  padding-top: 25px;
}

header,
footer {
  text-align: center;
}

footer a {
  color: #888;
  text-decoration: none;
}

/* section */

section {
  line-height: 1.8em;
}

section p.infos {
  color: #888;
  font-size: .8em;
}

section p.title {
  font-size: 1.5em;
}

section p.back {
  font-size: .8em;
  margin-top: 25px;
}

section p.back a {
  text-decoration: none;
}

/* blog entries */

.blog-entries {
  list-style: none;
  margin: 50px 0;
  padding: 0;
  text-align: center;
}

.blog-entries a {
  text-decoration: none;
  vertical-align: middle;
}

.blog-entries a .date {
  font-size: .8em;
  margin-right: 10px;
}

.blog-entries a:hover .date {
  color: #555;
}
